<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Connect</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="connect">
    <form action="#connect">
        <p>
            <strong>Имя</strong>
            <br>
            <input type="text" name="name" value="Введите ваше имя">
        </p>

        <p>
            <strong>Почта</strong>
            <br>
            <input type="email" name="email" value="Введите ваш e-mail">
        </p>

        <p>
            <strong>Ваше сообщение</strong>
            <br>
            <textarea rows="4" cols="50" style="text-align: left" name="comment">
            Введите ваше сообщение...
        </textarea>
        </p>
        <input class="button" type="submit" value="Отправить">
    </form>
</div>
<div th:include="footer :: footer" class="footer"></div>
</body>
</html>