<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <title>Main Page</title>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<h1 align="center">Поиск достопримечательностей</h1>

<table border="1" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <th width="50%"><h2>По названию</h2></th>
        <th width="50%"><h2>Ближайшие достопримечательности</h2></th>
    </tr>
    <tr>
        <td width="50%">
            <form action="/name_sight" method="get">
                <p>
                    <input type="text" name="name" value="Введите название">
                </p>
                <p>
                    <input class="button black" value="Найти" type="submit">
                </p>
            </form>
        </td>
        <td width="50%">
            <form action="/closest_sights" method="get">
                <p>
                    <input type="text" name="addresses" value="Введите адрес">
                </p>
                    <input class="button black" name="close" value="Найти" type="submit">
            </form>
                <p>ИЛИ</p>
            <form action="/my_position" method="get">
                    <input class="button black" name="close" value="По местоположению" type="submit">
            </form>
        </td>
    </tr>
</table>

<div th:include="footer :: footer" class="footer"></div>

</body>
</html>